<ion-title>Follow</ion-title>
<div *ngFor="let user of randomUsers; let i = index" [attr.data-index]="i">
  <ion-item lines="none" (click)="visitUser($event, user)">  
    <ion-avatar slot="start">
      <img src="{{ user?.ProfilePicture }}"/>
    </ion-avatar>
    <ion-title>{{ user.Username }}</ion-title>
    <ion-text>@{{ user.Handle }}</ion-text>  

    <ion-button app (click)="follow_change(i)" *ngIf="user.Self_Following == false" fill="solid" expand="block" shape="round">
      Follow
    </ion-button>
    <ion-button (click)="follow_change(i)" *ngIf="user.Self_Following == true" fill="outline" expand="block" shape="round">
      Followed
    </ion-button>

  </ion-item>  
  <ion-text><p>{{ user.Bio }}</p></ion-text>
</div>