
        div{
            border-bottom: 1px rgb(235, 235, 235) solid;
            padding-bottom: 5px;
            padding-top: 5px;
            ion-item{    
              ion-title{
                  margin-bottom: 15px;
                  padding-left: 8px;
                  font-family: 'Lato', sans-serif;
                  font-weight: 700;
              }
              ion-text{
                  position: absolute;
                  left: 8px;
                  bottom: 7px;
                  font-size: 12px;
                  color: grey;
                  font-family: 'Lato', sans-serif; 
              }  
              ion-button{
                  --padding-top: 16px;
                  --padding-bottom: 16px;
                  --padding-start: 25px;
                  --padding-end: 25px;
                  position: absolute;
                  z-index: 999;
                  right: 5px;
                  top: 2px
              }
            }
            ion-text{
              p{
                margin-top: 0;
                padding: 0 20px 0 80px;
              }
            } 
        } 
