<ion-content>
  <div class="logo">
    <img src="../../assets/logo/loop_animation.svg">
    <ion-title class="ion-text-center">Find out what's going on.</ion-title>
  </div>
  <div class="content">
    <ion-button id="open-modal-register" color="dark" shape="round" expand="full">
      Create Account
    </ion-button>
    <p class="ion-text-center">Already have an Account? <span id="open-modal-login">Log in</span></p>
  </div>
  
  <!-- REGISTER MODAL -->
  <ion-modal class="register" trigger="open-modal-register" #register_modal>
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar> 
          <ion-buttons slot="start">
            <ion-button mode="ios" (click)="register_cancel()">Cancel</ion-button>
          </ion-buttons>
          <img src="../../assets/logo/logo_transparent.png">
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-title>Create Account</ion-title>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="register_name.trim() !== ''">Name</ion-label>
          <ion-input placeholder="Name" type="name" [(ngModel)]="register_name"></ion-input>
        </ion-item>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="register_handle.trim() !== ''">Handle</ion-label>
          <ion-input placeholder="Handle" type="name" [(ngModel)]="register_handle"></ion-input>
        </ion-item>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="register_email.trim() !== ''">Email</ion-label>
          <ion-input placeholder="Email" type="email" [(ngModel)]="register_email"></ion-input>
        </ion-item>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="register_password.trim() !== ''">Password</ion-label>
          <ion-input placeholder="Password" type="password" [(ngModel)]="register_password"></ion-input>
        </ion-item>
        <ion-button size="small" shape="round" (click)="register_confirm()">Continue</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- LOGIN MODAL -->
  <ion-modal class="login" trigger="open-modal-login" #login_modal>
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar> 
          <ion-buttons slot="start">
            <ion-button mode="ios" (click)="login_cancel()">Cancel</ion-button>
          </ion-buttons>
          <img src="../../assets/logo/logo_transparent.png">
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-title>Log in</ion-title>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="login_name.trim() !== ''">Name</ion-label>
          <ion-input placeholder="Name" type="name" [(ngModel)]="login_name"></ion-input>
        </ion-item>
        <ion-item lines="none"> 
          <ion-label position="stacked" *ngIf="login_password.trim() !== ''">Password</ion-label>
          <ion-input placeholder="Password" type="password" [(ngModel)]="login_password"></ion-input>
        </ion-item>
        <ion-button size="small" shape="round" (click)="login_confirm()">Continue</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
