<ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon> 
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon> 
    </ion-tab-button> 
    
    <ion-tab-button tab="profile"> 
      <ion-avatar>
        <img src="{{ user?.ProfilePicture }}" />
      </ion-avatar>
    </ion-tab-button>

    <ion-tab-button tab="notifications"> 
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge *ngIf="notifications" id="notification-badge"></ion-badge> 
    </ion-tab-button>

    <ion-tab-button (click)="settings()"> 
      <ion-icon name="settings-outline"></ion-icon>  
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>