ion-tab-button { 
    --color: black; 
    --color-selected: var(--ion-color-primary);
}

ion-tab-bar {  
    border: none;
    padding-bottom: 0;
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%); 
    width: 100%;
    --background: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px -7px black;
  
    ion-tab-button {
      --background: transparent;
      --ripple-color: transparent;
    }
  }

  ion-avatar{
    height: 40px; width: 40px;
    img{ 
      pointer-events: none;
    }
  }

  @media only screen and (min-width: 1300px) {
    ion-tabs{
      ion-tab-bar{
        margin-left: -35%;
        width: 30%;
      }
    }
  }