<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-button (click)="cancelPost()" mode="ios">Cancel</ion-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" color="primary" class="done-button" shape="round" fill="solid" mode="ios">Send</ion-button>
    </ion-buttons>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="{{ user?.ProfilePicture }}" />
  </ion-avatar> 

  <div class=input-area>
    <ion-textarea [(ngModel)]="textarea_value" (ionChange)="progressHandler($event)" maxlength="300" [autoGrow]="true" placeholder="I'm gay..."></ion-textarea>
    <div class="image-container">
      <img src="{{ resizedImage }}" (click)="openViewer(resizedImage)" class="file-input" *ngIf="image != ''" >
      <ion-icon color="primary" name="close" (click)="removeImage()" *ngIf="resizedImage != ''"></ion-icon>  <!-- *ngIf="resizedImage != ''" -->
    </div>
  </div>
 
  <ion-fab-button>
    <label for="image-input">
      <ion-icon class="image" name="images-outline"></ion-icon>
    </label> 
    <input (change)="imageChangeEvent($event)" type="file" name="file-input" id="image-input" class="hideInput" accept="image/png, image/jpeg"/>
  </ion-fab-button>
  <ion-fab-button disabled="true">
    <label for="input">
      <ion-icon class="gif" src="../../../assets/icon/gif.svg"></ion-icon>
    </label> 
    <input id="input" type="file" class="hideInput">
  </ion-fab-button>
   
</ion-content>
