<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div> 
    <ion-item lines="none" (click)="visitUser(post?.User, $event)"> 
      <ion-avatar slot="start">
        <img src="{{ post?.User?.ProfilePicture }}" (click)="openViewer(post?.User?.ProfilePicture)"/>
      </ion-avatar> 
      <ion-item lines="none" class="ion-no-padding">
        <h1>{{ post?.User?.Username }}</h1>
      </ion-item> 
    </ion-item>  
    <div>
      <h2>@{{ post?.User?.Handle }}</h2>  
      <ion-text><p>{{ post?.Text }}</p></ion-text>
      
      <img class="content" *ngIf="post?.Image?.trim()" (click)="openViewer(post?.Image)" src="{{ post?.Image }}">

      <ion-text class="time">
        <p>{{ post?.DateCreated | date: 'HH:mm · dd.MM.yy':"-0000"}}</p>
      </ion-text>
      <ion-icon *ngIf="post?.User?.ID ==  user?.ID" (click)="presentPostPopover($event, post)" slot="end" name="ellipsis-horizontal" class="ellipsis"></ion-icon>
      <span>
        <ion-badge (click)="visitUser(mention, $event)" *ngFor="let mention of post?.Mentions" color="primary" mode="ios">@{{ mention.Handle }}</ion-badge> 
      </span>
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="4"><ion-button appDebounceClick (debounceClick)="like_change()" [debounceTime]="500" expand="full" [ngStyle]="post?.Liked ? {'color': 'var(--ion-color-primary)', 'font-weight': 'bold'} : {'color': 'var(--ion-color-dark)'}" fill=""><ion-icon slot="start" [name]="post?.Liked ? 'heart' : 'heart-outline'"></ion-icon>{{ post?.Likes?.length }}</ion-button></ion-col>
          <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="chatbox-outline"></ion-icon>{{ post?.CommentCount }}</ion-button></ion-col>
          <ion-col size="4" id="share"><ion-button expand="full" fill=""><ion-icon slot="start" name="share-outline"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-grid> 
    </div>
  </div>

  <div class="input">
    <ion-item lines="none" counter="true">
      <ion-avatar slot="start">
        <img src="{{ user?.ProfilePicture }}" (click)="openViewer(user?.ProfilePicture)"/>
      </ion-avatar> 
      <ion-textarea [(ngModel)]="comment_input" placeholder="Write your comment..." [autoGrow]="true" maxlength="300"></ion-textarea>
      <ion-button (click)="postComment()" shape="round" mode="ios">
        Send
      </ion-button>
    </ion-item> 
  </div> 

  <div *ngFor="let comment of post?.Comments">
    <ion-item lines="none" (click)="visitUser(comment?.User, $event)"> 
      <ion-avatar slot="start">
        <img src="{{ comment?.User?.ProfilePicture }}" (click)="openViewer(comment?.User?.ProfilePicture)"/>
      </ion-avatar> 
      <ion-item lines="none" class="ion-no-padding">
        <h1>{{ comment?.User?.Username }}</h1>
        <h2>@{{ comment?.User?.Handle }}</h2> 
        <h3> · {{ comment?.DateCreated | timeAgo }}</h3>
      </ion-item>  
      <ion-icon *ngIf="comment?.User?.ID == user?.ID" (click)="presentCommentPopover($event, comment)" slot="end" name="ellipsis-horizontal" class="ellipsis-comment"></ion-icon>
      <ion-text><p>{{ comment?.Text }}</p></ion-text>  
    </ion-item>   
  </div>

  <ion-popover mode="ios" #post_popover [isOpen]="post_isOpen" (didDismiss)="post_isOpen = false">
    <ng-template>
      <ion-content>
        <ion-list class="popover">
          <ion-item lines="none" [button]="true" (click)="deletePost()" [detail]="false">Delete</ion-item> 
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover mode="ios" #comment_popover [isOpen]="comment_isOpen" (didDismiss)="comment_isOpen = false">
    <ng-template>
      <ion-content>
        <ion-list class="popover">
          <ion-item lines="none" [button]="true" (click)="deleteComment()" [detail]="false">Delete</ion-item> 
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-infinite-scroll *ngIf="post?.Comments" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
