<ion-content> 
  <ion-refresher style="margin-top: 55px"slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab (click)="back()" vertical="top" horizontal="left" class="back">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="banner">
    <img (click)="openViewer(visit_user.Banner)" *ngIf="visit_user?.Banner" src="{{ visit_user?.Banner }}">
    <img (click)="openViewer(visit_user.Banner)" *ngIf="!visit_user?.Banner" src="http://michael.prietl.com/nebula-logo.png">
  </div>

  <ion-avatar class="headerProfilePic">
    <img (click)="openViewer(visit_user?.ProfilePicture)" src="{{visit_user?.ProfilePicture}}">
  </ion-avatar>

  <div class="content">
    <ion-title>{{ visit_user?.Username }} <ion-badge *ngIf="visit_user?.ID == 1 || visit_user?.ID == 2" color="primary">Dev</ion-badge><ion-badge *ngIf="day_one > user?.SignUpDate" style="background-color: #000000">Day One</ion-badge></ion-title> 
    <ion-text>
      <p class="handle">@{{ visit_user?.Handle }}</p>
    </ion-text> 
    <ion-button appDebounceClick (debounceClick)="follow_change()" [debounceTime]="500" *ngIf="visit_user?.Self_Following == false && visit_user?.ID != user?.ID" fill="solid" expand="block" shape="round">
      Follow
    </ion-button>
    <ion-button appDebounceClick (debounceClick)="follow_change()" [debounceTime]="500" *ngIf="visit_user?.Self_Following == true && visit_user?.ID != user?.ID" fill="outline" expand="block" shape="round">
      Unfollow
    </ion-button>
    <ion-text>
      <p class="bio">{{ visit_user?.Bio }}</p>
    </ion-text> 
    <ion-text>
      <p class="follow"><span (click)="openFollowing()"><b>{{ visit_user?.Following }}</b> Following </span>·<span (click)="openFollowers()"><b (click)="openFollowers()">{{ visit_user?.Followers }}</b> Followers</span></p>
      <p class="joined">Joined {{ visit_user?.SignUpDate | date: 'd. MMMM yyyy'}}</p>
    </ion-text> 
  </div>
   
  <ion-list>
    <div *ngFor="let post of posts; let i = index" [attr.data-index]="i">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ post?.User?.ProfilePicture }}" (click)="openViewer(post?.User?.ProfilePicture)"/>
        </ion-avatar> 
        <ion-item lines="none" class="ion-no-padding">
          <h1>{{ post?.User?.Username }}</h1>
          <h2>@{{ post?.User?.Handle }}</h2> 
          <h3> · {{ post?.DateCreated | timeAgo }}</h3> 
        </ion-item> 
      </ion-item>  
      <div (click)="openPost($event, post)">
        <ion-text><p>{{ post?.Text }}</p></ion-text>
        <img class="content" *ngIf="post?.Image?.trim()" (click)="openViewer(post?.Image)" src="{{ post?.Image }}">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="4"><ion-button appDebounceClick (debounceClick)="like_change(post, i)" [debounceTime]="500" expand="full" fill=""><ion-icon slot="start" [name]="post?.Liked ? 'heart' : 'heart-outline'" [ngStyle]="post?.Liked ? {'color': 'var(--ion-color-primary)'} : {'color': 'var(--ion-color-dark)'}"></ion-icon>{{ post?.Likes?.length }}</ion-button></ion-col>
            <ion-col size="4"><ion-button class="comment" expand="full" fill=""><ion-icon slot="start" name="chatbox-outline"></ion-icon>{{ post?.Comments?.length }}</ion-button></ion-col>
            <ion-col size="4" id="share"><ion-button (click)="share(post?.ID)" expand="full" fill=""><ion-icon slot="start" name="share-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
