@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

ion-content{
    ion-fab.back{
        left: 20px;
        top: 20px;
        ion-fab-button{
            --background: transparent;
            --box-shadow: transparent;
            background: rgba($color: #000000, $alpha: 0.4);
            border-radius: 50%; 
            width: 35px;
            height: 35px;
            ion-icon{ 
                font-size: 20px;
            }
        }
    }
    ion-fab.settings{
        right: 20px;
        top: 20px;
        ion-fab-button{
            --background: transparent;
            --box-shadow: transparent;
            background: rgba($color: #000000, $alpha: 0.4);
            border-radius: 50%; 
            width: 35px;
            height: 35px;
            ion-icon{ 
                font-size: 20px;
            }
        }
    }
    ion-button{
        position: absolute;
        color: white;
        border-radius: 50px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        --border-radius: 50%; 
    }
    div.banner{
      margin-top: 57px;
        width: 100%;  
        img{
            width: 100%; 
        }
    }
    ion-avatar.headerProfilePic{
        width: 20vw;
        height: 20vw;
        position: relative;  
        margin: -11vw 0px 0px 15px; 
        border: 4px var(--ion-background-color, #fff) solid; 
        img{ 
          background-color: #fff; 
        }
    }
    div.content{
        border-bottom: 1px rgb(235, 235, 235) solid;
        padding-top: 5px;
        padding-bottom: 15px;
        ion-title{
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            ion-badge{
                margin-right: 5px;
                box-shadow: 0px 0px 5px -2px black;
            }
        }
        ion-text{
            p.handle{
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                margin: 0;
                padding-left: 20px;
                color: rgb(83, 83, 83);
            }
            p.bio{
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                margin: 0;
                padding-top: 5px;
                padding-left: 20px; 
            }
            p.follow{
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                margin: 0;
                padding-top: 10px;
                padding-left: 20px; 
                color: rgb(83, 83, 83);
                b{
                    color: black;
                    margin-left: 5px;
                }
            }
        } 
    }
    ion-list{ 
        div{  
            margin-bottom: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
            ion-item{   
              position: absolute;
              width: 100%;
              ion-item{ 
                margin-top: -15px;
                --padding-end: 0px;
                --inner-padding-end: 0px;
                h1{
                  padding-left: 8px;
                  font-family: 'Lato', sans-serif;
                  font-weight: 700;
                  font-size: 16px;
                  margin: 0px;
                  padding: 0;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  margin-left: 7px;
                  max-width: 120px;
                }
                h2{
                  font-size: 14px;
                  font-family: 'Lato', sans-serif;
                  color: grey;
                  margin: 0px;
                  margin-left: 5px; 
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  max-width: 120px;
                }
                h3{ 
                  width: 100%;
                  width: auto;
                  text-align: right; 
                  font-size: 14px;
                  font-weight: 400;
                  color: grey;
                  font-family: 'Lato', sans-serif; 
                  margin-top: 0px;
                  margin-bottom: 0px; 
                  margin-left: 4px;
                } 
              }
              ion-avatar{
                margin-right: 8px;
                img{
                  pointer-events: stroke;
                }
              }
              ion-button{
                --padding-top: 16px;
                --padding-bottom: 16px;
                --padding-start: 25px;
                --padding-end: 25px;
              }
            } 
            div{ 
              border-bottom: 1px rgb(235, 235, 235) solid;
              position: relative;
              top: 30px;
              z-index: 999;
              ion-text{  
                p{
                  margin-bottom: 0;
                  margin-top: 0px;
                  padding: 0 20px 0 72px;
                }
              }
              img.content{ 
                margin-top: 10px;
                width: 90%;
                display: block; 
                padding: 0 20px 0 72px;
                padding-bottom: 5px;
              }
              ion-grid{ 
                padding: 0px 15px 40px 72px; 
                ion-row{
                  ion-col{
                    ion-button {
                      font-size: 13px;
                      color: black;
                    }
                  }
                }
              }
            }
          } 
      }
}

ion-button{ 
    --ripple-color: transparent; 
  }