<ion-content> 
  <ion-fab class="settings" vertical="top" horizontal="end" >
    <ion-fab-button (click)="logout()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="banner">
    <img (click)="openViewer(user.Banner)" src="{{user?.Banner}}">
  </div>

  <ion-avatar>
    <img (click)="openViewer(user?.ProfilePicture)" src="{{user?.ProfilePicture}}">
  </ion-avatar>

  <div class="content">
    <ion-title>{{ user?.Username }} <ion-badge *ngIf="user?.ID == 1 || user?.ID == 26" color="primary">Dev</ion-badge><ion-badge *ngIf="user?.ID == 1 || user?.ID == 26" color="warning">Pro</ion-badge><ion-badge *ngIf="user?.ID == 1 || user?.ID == 26" color="light">Day One</ion-badge></ion-title> 
    <ion-text>
      <p class="handle">@{{ user?.Handle }}</p>
    </ion-text> 
    <ion-text>
      <p class="bio">{{ user?.Bio }}</p>
    </ion-text> 
    <ion-text>
      <p class="follow"><b>{{ user?.Following }}</b> Following <b>{{ user?.Followers }}</b> Followers</p>
    </ion-text> 
  </div>
   
  <ion-list>
    <div *ngFor="let post of posts">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ post.User.ProfilePicture }}" (click)="openViewer(post.User.ProfilePicture)" />
        </ion-avatar>
        <ion-title>{{ post.User.Username }}</ion-title>
        <ion-text>@{{ post.User.Handle }}</ion-text>
      </ion-item>  
      <ion-text><p>{{ post.Text }}</p></ion-text>
        <img class="content" *ngIf="post.Image.trim()" (click)="openViewer(post.Image)" src="{{ post.Image }}">      
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="heart"></ion-icon>{{ post?.Likes?.length }}</ion-button></ion-col>
            <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="chatbox"></ion-icon>{{ post?.Comments?.length }}</ion-button></ion-col>
            <ion-col size="4" id="share"><ion-button expand="full" fill=""><ion-icon slot="start" name="share"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
