@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

ion-button{ 
  --ripple-color: transparent; 
  --box-shadow:none;
}

ion-modal.register, ion-modal.login{ 
  ion-header{
    position: absolute;
    width: 100%;
    ion-toolbar{
      background: transparent;
      --background: transparent;
      ion-button{
        color: white;
      }
      img{
        width: 40px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
      }
    }
  }
  ion-content{ 
    --background: url('../src/assets/svg-backgrounds/stacked-waves-haikei.svg');
    ion-title{
      color: white;
      margin-top: 35px;
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
    ion-item{
      --background: transparent;
      color: rgba(255, 255, 255, 1);
      margin: 10px 10px;
      padding-top: 10px; 
      @keyframes slidein {
        0%   {margin-left:1500px;}
        100% {margin-left:0px;}
      }
      ion-label{
        animation-duration: .5s;
        display: block;
      }
      ion-input{
        --placeholder-opacity: 1;
      }
    }
    ion-button{
      float: right;
      font-size: 12px;
    }
    ion-item.item-has-focus>ion-label{
      color: white !important;
    }
  } 
}

ion-label{
  color: white !important;
  --color: white !important;
}