<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-searchbar placeholder="Search Users" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="users.length > 0" id="userList"> 
    <div *ngFor="let user of users">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ user?.ProfilePicture }}"/>
        </ion-avatar>
        <ion-title>{{ user?.Username }}</ion-title>
        <ion-text>@{{ user?.Handle }}</ion-text>
      </ion-item>  
    </div>
  </ion-list>
  
  <ion-list *ngIf="users.length == 0 && noUserFound == true" id="userList"> 
    <ion-item lines="none"> 
      <ion-title>No such user found.</ion-title>
    </ion-item>  
  </ion-list>

  <ion-list *ngIf="users.length == 0 && noUserFound == false" id="suggestions">
    <ion-title>Follow</ion-title>
    <div *ngFor="let user of randomUsers">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ user?.ProfilePicture }}"/>
        </ion-avatar>
        <ion-title>{{ user.Username }}</ion-title>
        <ion-text>{{ user.Handle }}</ion-text>
        <ion-button expand="block" shape="round">
          Follow
        </ion-button>
      </ion-item>  
      <ion-text><p>{{ user.Bio }}</p></ion-text>
    </div>
  </ion-list>
</ion-content>
