<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-searchbar placeholder="Search Users" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="users.length > 0" id="userList"> 
    <div *ngFor="let user of users">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ user?.ProfilePicture }}"/>
        </ion-avatar>
        <ion-title>{{ user?.Username }}</ion-title>
        <ion-text>@{{ user?.Handle }}</ion-text>
      </ion-item>  
    </div>
  </ion-list>

  <ion-list *ngIf="users.length == 0" id="suggestions">
    <ion-title>Follow</ion-title>
    <div>
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="../../assets/logo/logo_transparent.png"/>
        </ion-avatar>
        <ion-title>12</ion-title>
        <ion-text>@213</ion-text>
        <ion-button expand="block" shape="round">
          Follow
        </ion-button>
      </ion-item>  
      <ion-text><p>132123123</p></ion-text>
    </div>
    <div>
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="../../assets/logo/logo_transparent.png"/>
        </ion-avatar>
        <ion-title>12</ion-title>
        <ion-text>@213</ion-text>
        <ion-button fill="outline" expand="block" shape="round">
          Followed
        </ion-button>
      </ion-item>  
      <ion-text><p>132123123</p></ion-text>
    </div>
    <div>
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="../../assets/logo/logo_transparent.png"/>
        </ion-avatar>
        <ion-title>12</ion-title>
        <ion-text>@213</ion-text>
        <ion-button expand="block" shape="round">
          Follow
        </ion-button>
      </ion-item>  
      <ion-text><p>132123123</p></ion-text>
    </div>
  </ion-list>
</ion-content>
