@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/chirp-2'); 

/* ion-header{
  display:none;
  position: absolute;
  background-size: cover;
  -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
  height: 13vh;
  opacity: 0.97;
  ion-toolbar{  
    display:none;
    --background: transparent;
    img{
      width: 60px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
      pointer-events: none;
    }
    ion-buttons{ 
      ion-button#notification-btn {
        position: relative;
        right: 12px;
        color: white;
        ion-icon{
          font-size: 20px;
          --ionicon-stroke-width: 25px;
        }
        #notification-badge {
          position: absolute;
          top: -3px;
          right: -5px;
          background: white;
          color: black;
          font-size: 8px;
        }
      }
      #notification-btn::part(native) {
        overflow: visible;
      } 
    }
  }
} */

ion-content{
  ion-fab{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  ion-list{ 
    margin-top: 50px;
    div{  
      margin-bottom: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      ion-item{   
        position: absolute;
        width: 100%;
        ion-item{ 
          margin-top: -15px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
          h1{
            padding-left: 8px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 16px;
            margin: 0px;
            padding: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 7px;
            max-width: 120px;
          }
          h2{
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: grey;
            margin: 0px;
            margin-left: 5px; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 120px;
          }
          h3{ 
            width: 100%;
            width: auto;
            text-align: right; 
            font-size: 14px;
            font-weight: 400;
            color: grey;
            font-family: 'Lato', sans-serif; 
            margin-top: 0px;
            margin-bottom: 0px; 
            margin-left: 4px;
          } 
          ion-icon.ellipsis{
            position: absolute;
            right: 50px;
            top: 5px;
            font-size: 20px;
          }
        }
        ion-avatar{
          margin-right: 8px;
          img{
            pointer-events: none; 
          }
        }
        ion-button{
          --padding-top: 16px;
          --padding-bottom: 16px;
          --padding-start: 25px;
          --padding-end: 25px;
        }
      } 
      div{ 
        border-bottom: 1px rgb(235, 235, 235) solid;
        position: relative;
        top: 30px;
        z-index: 999;
        ion-text{  
          p{  
            font-family: 'Chirp', sans-serif;
            margin-bottom: 0;
            margin-top: 0px;
            padding: 0 20px 0 72px;
          }
        }
        /* img.content{  OLD IMG
          margin-top: 10px;
          width: 90%;
          display: block; 
          padding: 0 20px 0 72px;
          padding-bottom: 5px;
          border-radius: 50px;
        } */
        img.content{ 
          margin-top: 10px;
          width: 68%;
          display: block;  
          padding-bottom: 5px;
          border-radius: 20px;
          margin-left: 72px
        } 
        ion-grid{ 
          padding: 0px 38px 0px 60px; 
          ion-row{
            ion-col{
              ion-button {
                font-size: 13px;
              }
            }
          }
        }
      }
    } 
  }
  ion-list.follow-suggestion{
    margin-top: 70px;
  }
  ion-list.popover{
    margin: 0;
  }
}

ion-button{ 
  --ripple-color: transparent; 
}