<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://avatars.githubusercontent.com/u/78266557?v=4">
    </ion-avatar>
    <ion-title class="ion-text-center">Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button id="cart-btn">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge id="cart-badge">1</ion-badge>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list>
    <div *ngFor="let user of users">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="https://avatars.githubusercontent.com/u/78266557?v=4" />
        </ion-avatar>
        <ion-title>{{ user.username }}</ion-title>
        <ion-text>{{ user.handle }}</ion-text>
      </ion-item>  
      <ion-text><p>{{ user.content }}</p></ion-text>
      <img class="content" src="https://cdn.sstatic.net/Img/teams/teams-illo-free-sidebar-promo.svg?v=47faa659a05e">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="heart"></ion-icon>56</ion-button></ion-col>
          <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="chatbox"></ion-icon>56</ion-button></ion-col>
          <ion-col size="4" id="share"><ion-button expand="full" fill=""><ion-icon slot="start" name="share"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
  
</ion-content>
