<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://avatars.githubusercontent.com/u/78266557?v=4">
    </ion-avatar>
    <ion-title class="ion-text-center">Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button id="cart-btn">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge id="cart-badge">1</ion-badge>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-button (click)="login()" expand="block" fill="clear" shape="round">
    Login
  </ion-button>
  <ion-button (click)="auth()" expand="block" fill="clear" shape="round">
    CheckAuth
  </ion-button>
  <ion-list>
    <div *ngFor="let post of posts">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="{{ post.users.ProfilePicture }}" />
        </ion-avatar>
        <ion-title>{{ post.users.Username }}</ion-title>
        <ion-text>@{{ post.users.Handle }}</ion-text>
      </ion-item>  
      <ion-text><p>{{ post.Text }}</p></ion-text>
      <img class="content" *ngIf="post.Image" src="{{ post.Image }}">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="heart"></ion-icon>{{ post.likes.length }}</ion-button></ion-col>
          <ion-col size="4"><ion-button expand="full" fill=""><ion-icon slot="start" name="chatbox"></ion-icon>{{ post.comments.length }}</ion-button></ion-col>
          <ion-col size="4" id="share"><ion-button expand="full" fill=""><ion-icon slot="start" name="share"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
  
</ion-content>
