@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

ion-header{
  ion-toolbar{
    img{
      width: 40px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 5px;
      transform: translateX(-50%);
    }
  }
}

ion-content{
  ion-list{
    div{ 
      margin-bottom: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      ion-item{   
        position: absolute;
        width: 100%;
        ion-item{ 
          margin-top: -15px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
          h1{
            padding-left: 8px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 16px;
            margin: 0px;
            padding: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 7px;
            max-width: 120px;
          }
          h2{
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: grey;
            margin: 0px;
            margin-left: 5px; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 120px;
          }
          h3{ 
            width: 100%;
            width: auto;
            text-align: right; 
            font-size: 14px;
            font-weight: 400;
            color: grey;
            font-family: 'Lato', sans-serif; 
            margin-top: 0px;
            margin-bottom: 0px; 
            margin-left: 4px;
          } 
        }
        ion-avatar{
          margin-right: 8px;
        }
        ion-button{
          --padding-top: 16px;
          --padding-bottom: 16px;
          --padding-start: 25px;
          --padding-end: 25px;
        }
      } 
      div{ 
        border-bottom: 1px rgb(235, 235, 235) solid;
        position: relative;
        top: 30px;
        z-index: 999;
        ion-text{  
          p{
            margin-bottom: 0;
            margin-top: 0px;
            padding: 0 20px 0 72px;
          }
        }
        img.content{ 
          margin-top: 10px;
          width: 90%;
          display: block; 
          padding: 0 20px 0 72px;
          padding-bottom: 5px;
        }
        ion-grid{ 
          padding: 0px 38px 0px 60px; 
          ion-row{
            ion-col{
              ion-button {
                font-size: 13px;
              }
            }
          }
        }
      }
    } 
  }
}

ion-button{ 
  --ripple-color: transparent; 
}
