<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" id="toolbar">  
    <img src="../../assets/logo/logo_transparent_white.svg">
    <ion-buttons slot="end">
      <ion-button id="notification-btn">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge id="notification-badge">5</ion-badge>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
 
<ion-content [scrollEvents]="true">  

  <ion-fab (click)="newPost()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher style="margin-top: 55px"slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="follow-suggestion" *ngIf="no_posts == true && refreshing == false">
    <app-follow-suggestion [randomUsers]="randomUsers"></app-follow-suggestion>
  </ion-list>

  <ion-list *ngIf="posts != []">
    <div *ngFor="let post of posts; trackBy: trackByFn; let i = index" [attr.data-index]="i">
      <ion-item lines="none" (click)="visitUser(post?.User)"> 
        <ion-avatar slot="start">
          <img src="{{ post?.User?.ProfilePicture }}" (click)="openViewer(post?.User?.ProfilePicture)"/>
        </ion-avatar> 
        <ion-item lines="none" class="ion-no-padding">
          <h1>{{ post?.User?.Username }}</h1>
          <h2>@{{ post?.User?.Handle }}</h2> 
          <h3> · {{ post?.DateCreated | timeAgo }}</h3>
        </ion-item> 
      </ion-item>  
      <div (click)="openPost($event, post)">
        <ion-text><p>{{ post?.Text }}</p></ion-text>
        <img class="content" *ngIf="post?.Image?.trim()" (click)="openViewer(post?.Image)" src="{{ post?.Image }}">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="4"><ion-button appDebounceClick (debounceClick)="like_change(post, i)" [debounceTime]="500" expand="full" [ngStyle]="post?.Liked ? {'color': 'var(--ion-color-primary)', 'font-weight': 'bold'} : {'color': 'var(--ion-color-dark)'}" fill=""><ion-icon slot="start" [name]="post?.Liked ? 'heart' : 'heart-outline'"></ion-icon>{{ post?.Likes?.length }}</ion-button></ion-col>
            <ion-col size="4"><ion-button expand="full" fill="" class="comment"><ion-icon slot="start" name="chatbox-outline"></ion-icon>{{ post?.Comments?.length }}</ion-button></ion-col>
            <ion-col size="4" id="share"><ion-button (click)="share()" expand="full" fill=""><ion-icon slot="start" name="share-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll *ngIf="!no_posts" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
