<ion-content>

  <ion-refresher style="margin-top: 55px"slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let notification of notifications; let i = index;" [attr.data-index]="i">
      <ion-item *ngIf="notification.Type == 'follower'">
        <ion-avatar (click)="visitUser(notification.Sender)">
          <img src="{{ notification.Sender.ProfilePicture }}" />
        </ion-avatar>
        <ion-text><p><span (click)="visitUser(notification.Sender)" class="name">{{ notification.Sender.Handle }}</span> {{ notification.Message }} <br> <span class="time">{{ notification.DateCreated | timeAgo }}</span></p></ion-text>
        <ion-button (click)="follow_change(i)" *ngIf="!notification.Sender.Self_Following" slot="end" expand="block" fill="clear" shape="round">
          Follow
        </ion-button>
        <ion-button (click)="follow_change(i)" *ngIf="notification.Sender.Self_Following" slot="end" expand="block" fill="clear" shape="round">
          Unfollow
        </ion-button>
      </ion-item>

      <ion-item *ngIf="notification.Type == 'like'">
        <ion-avatar (click)="visitUser(notification.Sender)">
          <img src="{{ notification.Sender.ProfilePicture }}" />
        </ion-avatar>
        <ion-text><p><span (click)="visitUser(notification.Sender)" class="name">{{ notification.Sender.Handle }}</span> {{ notification.Message }} <br> <span class="time">{{ notification.DateCreated | timeAgo }}</span></p></ion-text>
        <ion-button (click)="openPost(notification.PostID)" fill="clear" slot="end">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Show
        </ion-button>
      </ion-item>

      <ion-item *ngIf="notification.Type == 'comment'">
        <ion-avatar (click)="visitUser(notification.Sender)">
          <img src="{{ notification.Sender.ProfilePicture }}" />
        </ion-avatar>
        <ion-text><p><span (click)="visitUser(notification.Sender)" class="name">{{ notification.Sender.Handle }}</span> {{ notification.Message }} <br> <span class="time">{{ notification.DateCreated | timeAgo }}</span></p></ion-text>
        <ion-button (click)="openPost(notification.PostID)" fill="clear" slot="end">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Show
        </ion-button>
      </ion-item>

      <ion-item *ngIf="notification.Type == 'mention'">
        <ion-avatar (click)="visitUser(notification.Sender)">
          <img src="{{ notification.Sender.ProfilePicture }}" />
        </ion-avatar>
        <ion-text><p><span (click)="visitUser(notification.Sender)" class="name">{{ notification.Sender.Handle }}</span> {{ notification.Message }} <br> <span class="time">{{ notification.DateCreated | timeAgo }}</span></p></ion-text>
        <ion-button (click)="openPost(notification.PostID)" fill="clear" slot="end">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Show
        </ion-button>
      </ion-item>
    </div>
  </ion-list>

  <ion-infinite-scroll *ngIf="!no_notifications" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
