<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-button (click)="cancelSettings()" mode="ios">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="checkSettings()" color="primary" class="done-button" mode="ios">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content > 
    <!-- Profile Settings -->
    <ion-list>
      <ion-list-header>
        <ion-title class="ion-text-center">Profile Settings</ion-title>
      </ion-list-header>

      <ion-item lines="none"> 
        <ion-button>
          Edit
        </ion-button> 
        <img style="width: 100%; height: 100%;" src="{{user?.Banner}}" alt="">
      </ion-item> 

      <ion-avatar>
        <ion-button>
          <label for="image-input">
            Edit
          </label> 
          <input (change)="pfpChangeEvent($event)" type="file" name="file-input" id="image-input" class="hideInput" accept="image/png, image/jpeg"/>      
        </ion-button> 
        <img src="{{resizedPP}}">
      </ion-avatar> 
      <form [formGroup]="changeSettingsForm">
        <ion-item lines="none" class="lesser-margin-top">
          <ion-label>Username</ion-label>
          <ion-input formControlName="username" placeholder="{{ user?.Username }}"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Handle</ion-label>
          <ion-input formControlName="handle" placeholder="{{ user?.Handle }}"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label class="no-baseline">Bio</ion-label>
          <ion-textarea formControlName="bio" placeholder="{{ user?.Bio }}"></ion-textarea> 
        </ion-item>
      </form>
      </ion-list>

    <!-- Account Settings -->
    <ion-list class="account-settings">
      <ion-list-header>
        <ion-title class="ion-text-center">Account Settings</ion-title>
      </ion-list-header> 

      <ion-button fill="outline" expand="block" color="dark">
        Change Email
      </ion-button> 
 
      <ion-button fill="outline" expand="block" color="dark">
        Change Password
      </ion-button> 
 
    </ion-list>

    <!-- Danger Zone -->
    <ion-list class="danger-zone">
      <ion-list-header>
        <ion-title class="ion-text-center">Danger Zone</ion-title>
      </ion-list-header>
 
      <ion-button (click)="logout()" expand="block" fill="outline" color="dark">
        Sign out
      </ion-button> 

      <ion-button (click)="logout()" expand="block" color="dark">
        Delete Account
      </ion-button> 
    </ion-list>
</ion-content>